#splash-slide {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: .8fr 1fr;
}
#namebox {
	opacity: 0;
	animation: fade-in-right ease 0.4s forwards;
	// place-self: end center;
	// position: relative;
	// bottom: 5vh;
}
#webdevbox {
	place-self: center center;
}
