  <div class="container">
    <div class="row">
      <div class="offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <p class="formatted">
          <b>Web Development</b>: the fastest way to
          write software available to <em>anyone</em>.
        <!-- </p>
        <p class="formatted">
          Unlike other software, web platforms can access anything available on the internet. In fact web
          platforms can actively affect the world for us based on our desires.
        </p>
        <p class="formatted">
          The right web platform could do almost anything for you that you could do online yourself. It could
          connect you with information from a top expert anywhere in the world, or help you meet someone who will
          change your life.
        </p>
        <p class="formatted">
          There are so many smart things that technology can do for us. A personal computer is almost like having
          a second brain that's thinking for us. I want to make this second brain as smart as possible.
        </p>
        <p class="formatted">
          This is why I've studied several aspects of web developement from hosted databases to front-end. I've
          created and consumed my own <a href="https://rsshub.online" class="">API</a>. I'm a versatile programmer
          of serveral Python, Ruby and JavaScript frameworks.
        </p> -->
      </div>
      <!--Row-->
    </div>
  </div>
