<h3>
  Top Skills
</h3>
<div class="skills-grid">
  <div class="skills-group" id="backend">
    <div>
      <h4 class="m-0">
        Backend
      </h4>
    </div>
    <ul>
      <li>
        <img src="assets/img/tech/postgres.png" alt="" />
        PostgreSQL
      </li>
      <li>
        <img src="assets/img/tech/rails.png" alt="" />
        Ruby on Rails
      </li>
      <li>
        <img src="assets/img/tech/flask.png" alt="" />
        Flask
      </li>
      <li>
        <img src="assets/img/tech/django.png" alt="" />
        Django
      </li>
      <li>
        <img src="assets/img/tech/node.png" alt="" />
        Node
      </li>
    </ul>
  </div>
  <div class="skills-group" id="frontend">
    <h4>
      Frontend
    </h4>
    <ul>
      <li>
        <img src="assets/img/tech/html5.png" alt="" />
        HTML5
      </li>
      <li>
        <img src="assets/img/tech/css.png" alt="" />
        CSS3
      </li>
      <li>
        <img src="assets/img/tech/vue.png" alt="" />
        Vue
      </li>
      <li>
        <img src="assets/img/tech/react.png" alt="" />
        React
      </li>
      <li>
        <img src="assets/img/tech/es6.png" alt="" />
        JavaScript ES6
      </li>
      <li>
        <img src="assets/img/tech/bootstrap.svg" alt="" />
        Bootstrap
      </li>
    </ul>
  </div>
  <div class="skills-group" id="devops">
    <h4>
      DevOps
    </h4>
    <ul>
      <li>
        <img src="assets/img/tech/linux.png" alt="" />
        Unix Command Line
      </li>
      <li>
        <img src="assets/img/tech/ansible.png" alt="" />
        Ansible
      </li>
      <li>
        <img src="assets/img/tech/docker.png" alt="" />
        Docker
      </li>
      <li>
        <img src="assets/img/tech/git.png" alt="" />
        Git
      </li>
    </ul>
  </div>
</div>