<div id="skills" class="d-flex flex-column py-2" style="flex-grow: 1; margin:0 10vw;">
  <div id="accordion" class="d-flex flex-column" style="flex-grow: 1;">
    <div class="w-100 title-button-color rounded-pill mb-1">
      <button class="btn btn-link" type="button" id="skillsTitle" data-toggle="collapse" data-target="#skillsCollapse"
        role="button" aria-expanded="false" aria-controls="skillsCollapse">
        <h3>
          Skills
        </h3>
      </button>
    </div>
    <div class="collapse justify-content-center align-items-center flex-column" id="skillsCollapse"
      data-parent="#accordion">
      <div style="flex-grow: 1;" class="d-flex align-items-center flex-column justify-content-center">
        <div class="skills-group" id="backend">
          <div>
            <button class="btn btn-link" id="collapserOne" type="button" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <h4 class="mb-0 expanded"> Backend</h4>
            </button>
          </div>
          <div id="collapseOne" class="collapse show" data-parent="#skills">
            <ul>
              <li tabindex="0" role="button" data-toggle="popover" title="JavaScript" data-html='true'
                data-content="These days, having an excellent JavaScript game is critical. I learned JavaScript by reading &quot;<a href='https://github.com/getify/You-Dont-Know-JS'>You don't know Javascript</a>&quot; by Kyle Simpson.">
                <img src="/assets/img/tech/es6.png" data-src="/assets/img/tech/es6.png" alt="" />
                JavaScript ES6
              </li>
              <li tabindex="0" role="button" data-toggle="popover" title="Ruby" data-html='true'
                data-content="Ruby on Rails is a fantastic platform for Back-end Web Development and I'm pleased to say it's among my strongest skills as a web developer. After learning Ruby at <a href='https://lewagon.com'>Le Wagon</a>, I used it to make the back-end API for <a href='https://rsshub.online.'>RSSHub.</a>">
                <img src="/assets/img/tech/ruby.png" alt="" />
                Ruby
              </li>
            </ul>
          </div>
        </div>
        <div class="skills-group" id="frontend">
          <button class="btn btn-link" id="collapserTwo" type="button" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseOne">
            <h4>
              Frontend
            </h4>
          </button>
          <div class="collapse" id="collapseTwo" data-parent="#skills">
            <ul>
              <li tabindex="0" role="button" data-toggle="popover" title="HTML5" data-html='true'
                data-content="HTML5 is the foundation for modern web development. I love the better audio and visual controls as well as semantic tags.">
                <img src="/assets/img/tech/html5.png" alt="" />
                HTML5
              </li>
              <li tabindex="0" role="button" data-toggle="popover" title="CSS3" data-html='true'
                data-content="CSS3 is very important for making web pages look perfect. Aligning and centering are a breeze with Flexbox and Grid. I usually write in scss and let WebPack convert it for me.">
                <img src="/assets/img/tech/css.png" alt="" />
                CSS3
              </li>
              <li tabindex="0" role="button" data-toggle="popover" title="Bootstrap" data-html='true'
                data-content="I love bootstrap because it helps me get things done so quickly. I just make the site using bootstrap classes then override those classes to get custom functionality. ">
                <img src="/assets/img/tech/bootstrap.svg" alt="" />
                Bootstrap
              </li>
              <li tabindex="0" role="button" data-toggle="popover" title="JavaScript" data-html='true'
                data-content="JavaScript is very important for both Front-end and Back-end. I learned a lot from reading &quot;<a href='https://github.com/getify/You-Dont-Know-JS'>You don't know Javascript</a>&quot; by Kyle Simpson.">
                <img src="/assets/img/tech/es6.png" alt="" />
                JavaScript ES6
              </li>
              <li tabindex="0" role="button" data-toggle="popover" title="React" data-html='true'
                data-content="React is a very essential framework to know these days.">
                <img src="/assets/img/tech/react.png" alt="" />
                React
              </li>
              <li tabindex="0" role="button" data-toggle="popover" title="Vue" data-html="true"
                data-content="Vue is another popular framework. I enjoyed using it to make <a href='https://rsshub.online'>RSSHub</a>">
                <img src="/assets/img/tech/vue.png" alt="" />
                Vue
              </li>
            </ul>
          </div>
        </div>
        <div class="skills-group" id="devops">
          <button class="btn btn-link" id="collapserThree" type="button" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
            <h4>Tools</h4>
          </button>
          <div class="collapse" id="collapseThree" data-parent="#skills">
            <ul>
              <li tabindex="0" role="button" data-toggle="popover" title="Unix Command Line"
                data-content="Knowing how to use the command line is an invaluable skill. Using the command line allows me to quickly move files around, configure services and do things on remote machines that would otherwise be impossible.">
                <img src="/assets/img/tech/linux.png" alt="" />
                Unix Command Line
              </li>
              <li tabindex="0" role="button" data-toggle="popover" title="Ansible"
                data-content="Ansible is a very helpful tool that simplifies remote administration tasks.">
                <img src="/assets/img/tech/ansible.png" alt="" />
                Ansible
              </li>
              <li tabindex="0" role="button" data-toggle="popover" title="Docker"
                data-content="Docker is a way to run programs in containers so they are isolated from the rest of the system.">
                <img src="/assets/img/tech/docker.png" alt="" />
                Docker
              </li>
              <li tabindex="0" role="button" data-toggle="popover" title="Git"
                data-content="Git is an essential tool for Source Control.">
                <img src="/assets/img/tech/git.png" alt="" />
                Git
              </li>
              <li tabindex="0" role="button" data-toggle="popover" title="WebPack"
                data-content="WebPack is a very useful pre-processor for web assets.">
                <img src="/assets/img/tech/webpack.png" alt="">WebPack</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 title-button-color rounded-pill mb-1">
      <button class="btn btn-link title-button" type="button" id="PortfolioController" data-toggle="collapse"
        data-target="#PortfolioCollapse" role="button" aria-expanded="false" aria-controls="PortfolioCollapse">
        <h3>Portfolio</h3>
      </button>
    </div>

    <div class="collapse justify-content-center align-items-center flex-column" id="PortfolioCollapse"
      data-parent="#accordion">
      ${require('./subPortfolio/rsshub.html')}
    </div>
    <div class="w-100 title-button-color rounded-pill">
      <button class="btn btn-link title-button" type="button" id="AboutController" data-toggle="collapse"
        data-target="#AboutCollapse" role="button" aria-expanded="false" aria-controls="AboutCollapse">
        <h3>About</h3>
      </button>
    </div>

    <div class="collapse show justify-content-center align-items-center flex-column" id="AboutCollapse"
      data-parent="#accordion">
      <div class="about">
        <p>
          Hi, my name is Henry and I'm a web developer. I can work on many types of stacks, front-end and back-end.
        </p>
        <p>
          My goal is to be a developer who under-promises and over-delivers.
        </p>
        <p>
          My other hobbies are playing Magic The Gathering and biking.
        </p>
        <p>
          Thanks for visiting!
        </p>
      </div>
    </div>
  </div>
</div>