  <div class="" id="namebox">
    <div class="d-flex mb-1 justify-content-around align-items-center">
      <h1 class="mb-0">Henry Haller </h1>
      <h1 class="">
          <a href="https://www.linkedin.com/in/henry-haller" rel="noopener" class="btn btn-success">Connect</a>

      </h1>
    </div>
    
    <p>A <b>detail-driven</b> developer making amazing web apps.</p>
    <!-- <a href="#about" class="btn btn-primary mr-4">About</a> -->
  </div>
  
  <div id="webdevbox">
    <div class="container">
      <div class="row">
        <div class="col-12 offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
          <p>
            <b>Web Development</b>: the fastest way to
            make a product available to <em>anyone</em>.
          </p>  
        </div>
      </div>
    </div>
  </div>
  
