<div class="" id="namebox">
  <div class="d-flex mb-1 justify-content-between align-items-center">
    <h1 class="mb-0">Henry Haller

    </h1>
    <a href="https://github.com/HenryHaller" class=""><i class="btn btn-info fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/henry-haller" rel="noopener" class="btn btn-success">Connect</a>

  </div>

  <p>A <b>detail-driven</b> developer making amazing web apps.</p>
  <!-- <a href="#about" class="btn btn-primary mr-4">About</a> -->
</div>