@import 'bootstrap/index';

$view-able-height: calc(100vh - #{$navbar-padding-y} * 2 - 2.5rem);

@import 'animations';
@import 'elements/index';
@import 'components/index';
@import 'semantic/index';

@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Questrial&display=swap');

.z--1 {
	z-index: -1;
}

.z-1 {
	z-index: 1;
}

.z-2 {
	z-index: 2;
}

.z-10 {
	z-index: 10;
}

.full-sized-background {
	margin: 0;
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	top: 0;
}

.unsplash-background-source {
	background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(0, 36, 61, 0.6) 50%),
		url('https://images.unsplash.com/photo-1554558424-4a02a6451c4b?auto=format&h=1920&q=50');
}

.social-media-plane {
	position: fixed;
	bottom: 0;
	width: 100vw;
}

.social-media-container {
	pointer-events: auto;
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-media-vector {
	margin: 0 auto;
	width: 10rem;
	display: flex;
	justify-content: space-around;
}

@include media-breakpoint-up(sm) {
	.social-media-plane {
		height: 100vh;
	}
}

.title-basis {
	@include media-breakpoint-up(sm) {
		flex-basis: 40%;
	}
}

.title {
	@include media-breakpoint-up(sm) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.skills {
	text-align: center;
	margin-bottom: 60px;
}

.shaded {
	background-image: linear-gradient(#00000036, #000000a8);
}

$text-color: white;

button,
body {
	color: $text-color !important;
}

button h4 {
	@include font-size(1.5rem);
}

button h3 {
	@include font-size(2rem);
}

button h3,
button h4 {
	@extend .mb-0;
}

.title-button-color {
	background-color: black;
}

.show {
	// 	// transition: flex-grow 0.1s ease-out;
	display: flex;
	flex-direction: column;
	// 	// justify-content: center;
	// 	// align-items: center;
	// 	// flex-direction: column;
	flex-grow: 1 !important;
	// height: 100%;
	transition: flex-grow 0.35s ease;
}

// .collapse {
// 	// transition: flex-grow 0.35s ease;
// 	flex-grow: 0;
// }

div.about {
	text-align: right;
	p {
		@include font-size(1.5rem);
	}
}
