<button class="btn btn-link" type="button" id="RSSHubController" data-toggle="collapse" data-target="#RSSHubCollapse"
    role="button" aria-expanded="false" aria-controls="RSSHubCollapse">
    <h4 class="expanded">
        RSSHub
    </h4>
</button>

<div class="collapse show" id="RSSHubCollapse" data-parent="#PortfolioCollapse" style="flex-grow:0 !important;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 d-flex flex-column justify-content-center">
                <p class="formatted">
                    I love to listen to podcasts but I hate having to stream them from Patreon, Soundcloud or disparate
                    websites. I prefer a download option in order to avoid using mobile data. Solution: a custom RSS
                    Feed
                    Aggregator called <a href="https://rsshub.online">RSSHub</a>.
                </p>
            </div>
            <div class="col-sm-6">
                <div class="skills-group">
                    <div>
                        <h5>
                            Tech
                        </h5>
                    </div>
                    <ul>
                        <li tabindex="0" role="button" data-toggle="popover" title="Rails" data-html="true"
                            data-content="I decided to use Rails to make the API for RSSHub because it is a framework I know very well.">
                            <img src="/assets/img/tech/rails.png" alt="" />
                            Rails
                        </li>
                        <li tabindex="0" role="button" data-toggle="popover" title="Vue" data-html="true"
                            data-content="I wanted to use Vue to make RSSHub because it seemed like a very interesting front-end Framework.">
                            <img src="/assets/img/tech/vue.png" alt="" />
                            Vue
                        </li>
                        <li tabindex="0" role="button" data-toggle="popover" title="CSS3" data-html="true"
                            data-content="I used CSS3 and Bootstrap to add formatting to RSSHub.">
                            <img src="/assets/img/tech/css.png" alt="" />
                            CSS3
                        </li>
                        <li tabindex="0" role="button" data-toggle="popover" title="HTML5" data-html="true"
                            data-content="Every website needs HTML and RSSHub is no exception!">
                            <img src="/assets/img/tech/html5.png" alt="" />
                            HTML5
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>